################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WinForm.DrawTools/.vs/DrawTools/v15
/WinForm.DrawTools/DocToolkit/bin
/WinForm.DrawTools/DocToolkit/obj
/WinForm.DrawTools/DrawTools/bin/Debug
/WinForm.DrawTools/DrawTools/obj/Debug
/WPF.DrawTools/.vs/DrawTools/v15
/WPF.DrawTools/DrawTools/bin/Debug
/WPF.DrawTools/DrawTools/obj/Debug
/WPF.DrawTools/.vs/DrawTools2/v15
